.layout {
    display: flex;
    flex-direction: column;
}

.header-section {
    padding-left: 250px;
    margin-bottom: -50px;
}

.body-section {
    display: flex;
    flex-direction: row;
}

.chart {
    width: 500px;
    height: 500px;
}

.file-input-block, .submit-button {
    margin-top: 25px;
}

.file-input {
    margin-top: 5px;
}

.control-panel {
    display: flex;
}

.slider {
    width: 100%;
}
