.layout {
    display: flex;
    flex-direction: row;
}

.chart {
    width: 500px;
    height: 500px;
}

.file-input-block, .submit-button {
    margin-top: 25px;
}

.file-input {
    margin-top: 5px;
}
